<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myVita copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>myVita copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>myVita.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A998117F171AF48100DA20AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9A3144617023A7C0081BC88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9A3147717023A7C0081BC88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D0A4D9176752500097E534</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
